*{
	margin: 0;
	padding: 0;
}

html {
	color: #ffffff;
	font-family: Helvetica, Roboto, Sans-Serif;
}

body {
	display: flex;
	min-height: 100vh;
}

button {
	color: white;
	font-size: 40px;
	align-items: center;
	background-color: #333333;
	border-radius: 90px;
	border: none;
	display: flex;
	justify-content: center;
	height: 90px;
	width: 90px;
}

button:active, button:focus {
	background-color: #727272;
	height: 85px;
	width: 85px;
	margin: 2.5px;
}

button:hover {
	filter: brightness(120%);
}

.content {
	background-color: #5c5c5c;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.case {
	background-color: #000000;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	height: 800px;
	padding: 10px;
	width: 400px;
}

.screen {
	align-items: flex-end;
	justify-content: flex-end;
	display: flex;
	flex: 1;
	padding: 10px 20px;
}
#screen-value {
	color: #ffffff;
	font-size: 100px;
	text-align: right;
}

.keys {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-flow: row wrap;
	flex: 2;
	gap: 10px;
}

#zero-key {
	height: 90px;
	width: 190px;
}

#zero-key:active, #zero-key:focus {
	height: 85px;
	width: 185px;
	margin: 2.5px;
}

.top-row {
	color: #000000;
	background-color: #a5a5a5;
}

.top-row:active, .top-row:focus {
	background-color: #d9d9d9;
}

.right-column {
	background-color: #f1a23b;
}

.right-column:active, .right-column:focus {
	color: #f1a23b;
	background-color: #ffffff;
}


@media (max-width: 800px) {
  .case {
  	height: 500px;
  	width: 250px;
  }

  #screen-value {
  	font-size: 50px;
  }

  .keys {
  	gap: 10px;
  }

  button {
  	font-size: 20px;
  	height: 50px;
  	width: 50px;
  }

  #zero-key {
  	height: 50px;
  	width: 110px;
  }

}